.button-container {
  display: flex;

  width: 50dvw;
  height: 50dvh;

  justify-content: center;
  align-items: center;
}

.custom-button {
  width: 10rem;
  height: 4rem;

  font-size: 1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 500;

  border: none;
  border-radius: 500px;
  line-height: 1;
  box-shadow: 0px 0.7px 2.9px -5px rgba(0, 0, 0, 0.065),
    0px 1.6px 6.8px -5px rgba(0, 0, 0, 0.093),
    0px 2.8px 12.2px -5px rgba(0, 0, 0, 0.115),
    0px 4.7px 20.2px -5px rgba(0, 0, 0, 0.135),
    0px 7.7px 33.3px -5px rgba(0, 0, 0, 0.157),
    0px 13.4px 58.3px -5px rgba(0, 0, 0, 0.185),
    0px 29px 126px -5px rgba(0, 0, 0, 0.25);

  background: 0 0;
  transition: box-shadow 0.3s;

  &:hover {
    transform: scale(0.99);
    transform: translate(0px 0px);
    width: 9.75rem;
    height: 3.75rem;
    opacity: 1;
    visibility: inherit;
    box-shadow: 0px 0.7px 2.9px -5px rgba(0, 0, 0, 0.065),
      0px 1.6px 6.8px -5px rgba(0, 0, 0, 0.093),
      0px 2.8px 12.2px -5px rgba(0, 0, 0, 0.015),
      0px 4.7px 20.2px -5px rgba(0, 0, 0, 0.075),
      0px 7.7px 33.3px -5px rgba(0, 0, 0, 0.057),
      0px 13.4px 58.3px -5px rgba(0, 0, 0, 0.085),
      0px 29px 126px -5px rgba(0, 0, 0, 0.15);
  }

  &:active {
    background-color: hsl(0, 0%, 97%);
    transform: scale(0.95);
    transition: box-shadow 0.18s;
    transform: translate(0px 0px);
    box-shadow: 0px 0.7px 2.8px -5px rgba(0, 0, 0, 0.106),
      0px 1.6px 6.4px -5px rgba(0, 0, 0, 0.153),
      0px 2.8px 11.5px -5px rgba(0, 0, 0, 0.189),
      0px 4.7px 19.1px -5px rgba(0, 0, 0, 0.221),
      0px 7.7px 31.5px -5px rgba(0, 0, 0, 0.257),
      0px 13.4px 55px -5px rgba(0, 0, 0, 0.304),
      0px 29px 119px -5px rgba(0, 0, 0, 0.41);
  }
}
