@import url("./css/Button.css");
@import url("./css/Dialog.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600;700&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    width: 100dvw;
    height: 100dvh;
}

.App {
    display: grid;

    width: 100%;
    height: 100%;

    align-content: center;
    justify-content: center;
}

.button-container {
    display: flex;

    width: 50dvw;
    height: 50dvh;

    justify-content: center;
    align-items: center;
}
